{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div class="slider-wrapper">
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    
      {{ header }}
    
  {% endif %}

    <!-- Custom Stories Api -->
    <section class="stories-api">
      <div id="stories-api"></div>

      <div class="controls">
        <div class="container">
          <div class="filter-wrapper"></div>
          <div class="alphabet-wrapper">
            <label>Find a Story by Last Name</label>
            <div class="dropdown-wrapper">
              <div class="dropdown"></div>
              <div class="selected">A-Z</div>
            </div>
          </div>
       </div>
      </div>

      <div class="animation-wrapper"></div>
      <div id="slider"></div>
      
      


    </section>

    <div class="story-overlay">
      <div class="backdrop" data-role="closemodal"></div>
      <div class="modal" id="modal">
        <img id="image"/>
        <div class="modal-header">
          <div class="sec">
            <label>Share story</label>
            <a href=""><img src="themes/custom/mat/assets/images/icons/stories/facebook.svg"/></a>
            <a href=""><img src="themes/custom/mat/assets/images/icons/stories/twitter.svg"/></a>
            <a href=""><img src="themes/custom/mat/assets/images/icons/stories/mail.svg"/></a>
          </div>
          <div class="sec">
            <a href="" id="link">
              <label>Copy quicklink</label>
              <img src="themes/custom/mat/assets/images/icons/stories/link.svg"/>
            </a>
            <div id="link-copied">Link copied</div>
          </div>
          <span data-role="closemodal">x</span>
        </div>
        <div class="modal-body">
          <div class="modal-content">
            <label>Inspired by</label>
            <h2 id="name"></h2>
            <h5 id="role"></h5>
            <div id="gallery"></div>
            <div id="content"></div>
          </div>
        </div>
      </div>
    </div>
  
  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
