{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}

<div class="controls">
  <div class="container">
    <div class="filter-wrapper"></div>
    <div class="alphabet-wrapper">
      <label>Find a Story by <span>Last </span>Name<i>:</i></label>
      <div class="dropdown-wrapper">
        <div class="dropdown"><div class="dropdown-inner"></div></div>
        <div class="selected">A &mdash; Z</div>
      </div>
    </div>
 </div>
</div>
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
{% autoescape false %}
{{ audio_field }}
{% endautoescape %}
<div class="slider-wrapper">
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  

    <!-- Custom Stories Api -->
    <section class="stories-api">
      <div id="stories-api"></div>

      

      <div class="animation-wrapper">
        {% if header %}
          <div class="container-small">
            {{ header }}
          </div>
        {% endif %}
      </div>
      <div id="slider"></div>
      {% autoescape false %}{{ audio_mute_button }}{% endautoescape %}
    </section>

    <div class="story-overlay">
      <div class="backdrop" data-role="closemodal"></div>
      <div class="modal" id="modal">
        <span data-role="closemodal" class="i-close"></span>
        <div class="modal-inner">
          <label>{{ 'Inspired by'| t }}</label>
          <h2 id="name"></h2>
          <h5 id="role"></h5>
          <div class="modal-action">
            <div class="modal-action--social">
              <label>Share <span>story</span></label>
              <a href="" id="fb" target="_blank" class="share-window i-facebook"></a>
              <a href="" id="tw" target="_blank" class="share-window i-twitter"></a>
              <a href="" id="mail" class="i-mail"></a>
            </div>
            <div class="modal-action--quicklink">
              <a href="" id="link"><label>Copy <span>quicklink</span></label>
              <i class="i-link"></i></a>
              <div id="link-copied">Link copied</div>
            </div>
          </div>
          <div class="modal-gallery">
            {#<div>#}
              {#<img id="image"/>#}
            {#</div>#}
            {#<div id="gallery"></div>#}
          </div>
          <div id="content"></div>
          <div id="components"></div>
          <div id="paragraph"></div>
        </div>
      </div>
    </div>
  
  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
