<div class="search-result result-landing-page {% if node.field_search_image_media is not empty %} result-with-image{% endif %}">
  {% if node.field_search_image_media is not empty %}
  <div class="search-result--img" style="background-image: url('{{ content.field_search_image_media.0 }}')"></div>
  {% endif %}
  <div class="search-result--heading">
    <div class="search-result--title">Title goes here</div>
  	<a href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ 'Link URL'| t }} {{ path('entity.node.canonical', {'node': node.id}) }}</a>
  </div>
  <div class="search-result--text">
    {{ content.body }}
  </div>
</div>