{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
{% set has_sidebar = page.sidebar|render|striptags|trim is not empty %}

{% if node.field_header_category.entity.name.value is not empty %}

  {# If the page category has a shared hero image / AJAX loading #}
  {% if node.field_header_category.entity.field_shared_hero_image_title.value == 1  %}
    <section class="basic-page-header {{ node.field_header_category.entity.field_header_style.value }}">
      <div class="basic-page-header--heading">
        <div class="basic-page-header--bg" style="background-image: url('{{ file_url(node.field_header_category.entity.field_header_background_image.0.entity.uri.value) }}');"></div>
        <div class="basic-page-header--gradient"></div>
        <div class="container">
          <h3>{{ node.field_header_category.entity.name.value }}</h3>
          <h1>{{ node.field_header_category.entity.field_hero_image_title.value }}</h1>
        </div>
      </div>
  {# Else if each page in the category has a separate hero image... this allows changing the header title, background image and gradient overlay. #}
  {% else %}
    {% if node.field_header_style.value %} {# If a custom gradient overlay is selected #}
    <section class="basic-page-header {{ node.field_header_style.value }}">
      <div class="basic-page-header--heading">
    {% else %} {# If no special gradient overlay is selected. #}
    <section class="basic-page-header {{ node.field_header_category.entity.field_header_style.value }}">
      <div class="basic-page-header--heading">
    {% endif %}
        <div class="basic-page-header--bg" style="background-image: url('{{ file_url(node.field_parent_background_image.0.entity.uri.value) }}');"></div>
        <div class="basic-page-header--gradient"></div>
        <div class="container">
          <h3>{{ node.field_header_category.entity.name.value }}</h3>
          <h1>{{ node.label }}</h1>
        </div>
      </div>
  {% endif %}
  {% if node.field_header_category.entity.description.value|render|trim %}
    <div class="basic-page-header--content container">{{ node.field_header_category.entity.description.value }}</div>
  {% endif %}
</section>

{% else %}
<section class="basic-page-header {{ node.field_header_style.value }}">
  <div class="basic-page-header--heading">
    <div class="basic-page-header--bg" style="background-image: url('{{ file_url(node.field_parent_background_image.entity.uri.value) }}');"></div>
    <div class="basic-page-header--gradient"></div>
    <div class="container">
      <h1>{{ node.label }}</h1>
    </div>
  </div>
  {% if node.field_main_description %}
    <div class="basic-page-header--content container">{{ node.field_main_description.value }}</div>
  {% endif %}
</section>
{% endif %}

<section class="basic-page-wrapper{% if has_sidebar %} basic-page-with-sidebar{% endif %}">
  <div class="basic-page-container">
    {% if has_sidebar %}
      <div class="basic-page-sidebar">
        {{ page.sidebar }}
      </div>
    {% endif %}
    <div class="basic-page-content">
      {% if node.field_main_description.value %}
        <h2 class="basic-page-optional-header">{{ node.field_optional_content_section_h.value }}</h2>
      {% endif %}

      <div class="basic-page-content--summary">{{ node.body.value|raw }}</div>

      {% if node.field_basic_page_components %}
        {% for parag_id in node.field_basic_page_components.value %}
          {{ bamboo_render_entity('paragraph', parag_id['target_id']) }}
        {% endfor %}
      {% endif %}

    </div>
  </div>
</section>

<div id="loading-gif-modal"></div> {# Ajax loading GIF with overlay. #}
